html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fff;
}

.titletop {
    text-align: center;
    padding: auto;
    margin: auto;
}

.tabl {
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    pointer-events: none;
    background-color: rgba(154, 201, 219, 0.582);
    box-shadow: 1px 1.5px 3px #333;
    max-width: 940px;
    min-width: 690px;
}

td {
    border: 1px solid #333;
    width: 100vh;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 1.5px 3px #333;
    background-color: #fff;
}

.phonenum {
    pointer-events: painted;
    width: 13px;
    height: 13px;
}



@media screen and (max-width: 645px){
    .tabl{
        margin: 2rem 1rem 0 1rem;
        font-size: x-small;
        min-width: 10vh;
    }

    .td {
        margin-top: 5rem;
    }

    .phonenum {
        width: 9px;
        height: 9px;
    }

}