<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="https://www.svgrepo.com/show/499807/home-page.svg">
    <script src="/static/script.js"></script>
    <title>Портал</title>
</head>

<body>
    <header>
        <div class="titletop">
            <h1>Портал</h1>
            <h3>МОУ "ДСШ" № 1</h3>
        </div>
        <div class="menu">
            <div class="mainpagebtn btn">
                <a class="but" href="{{ url_for('index') }}"></a>
            </div>
            <div class="sprav btn">
                <a class="but" href="{{ url_for('spravka') }}"></a>
            </div>
            <div class="logs btn">
                <a class="but" href="{{ url_for('logs') }}"></a>
            </div>
            <div class="users btn">
                <a class="but" href="{{ url_for('users') }}"></a>
            </div>
            <div class="reg btn">
                <a class="but" href="{{ url_for('register') }}"></a>
            </div>
            <div class="dwnld btn">
                <a class="but" href="{{ url_for('manual') }}"></a>
            </div>
            <div class="logout btn">
                <a href="#" class="but" onclick="logout()"></a>
            </div>
        </div>
    </header>
    <div class="mainphoto">
        <img class="mainphotosize" src="/files/school.jpg" alt="Школа">
    </div>
</body>

</html>