<!doctype html>
<html lang="en">

<head>
    <title>Вход</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="" />
</head>

<body>
    <button style="margin: 0 0 1rem 0; float: right;" id="theme-toggle">Переключить тему</button>
    <div class="login-container" style="border: 5px">
        <h1>Вход</h1>
        <form class="loginbox" method="POST" action="/login">
            {{ form.hidden_tag() }}
            <input class="loginline" type="text" placeholder="Логин" {{ form.username }}<br>
            <input class="loginline" type="password" placeholder="Пароль" {{ form.password }}<br>
            <button type="submit" {{ form.submit() }} Вход</button>
        </form>
    </div>

    <script>
        // При загрузке страницы
        document.addEventListener('DOMContentLoaded', () => {
            const themeToggle = document.getElementById('theme-toggle');
            const body = document.body;

            // Проверяем, есть ли сохранённая тема
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                body.classList.add(savedTheme);
            }

            // Переключение темы
            themeToggle.addEventListener('click', () => {
                if (body.classList.contains('dark-theme')) {
                    body.classList.remove('dark-theme');
                    localStorage.setItem('theme', ''); // Очищаем тему
                } else {
                    body.classList.add('dark-theme');
                    localStorage.setItem('theme', 'dark-theme'); // Сохраняем тёмную тему
                }
            });
        });
    </script>
</body>

</html>