<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="https://www.svgrepo.com/show/499799/telephone-number.svg">
    <script src="/static/script.js"></script>
    <title>Справочник</title>
</head>

<body>
    <header>
        <div class="titletop">
            <h1>Портал</h1>
            <h3>МОУ "ДСШ" № 1</h3>
        </div>
        <div class="menu">
            <div class="mainpagebtn btn">
                <a class="but" href="{{ url_for('index') }}"></a>
            </div>
            <div class="sprav btn">
                <a class="but" href="{{ url_for('spravka') }}"></a>
            </div>
            <div class="logs btn">
                <a class="but" href="{{ url_for('logs') }}"></a>
            </div>
        </div>
    </header>
    <div class="tabl">
        <table id="employeeTable">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Номер</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                {% if record['name'] and record['jobtitle'] and record['phone'] and record['phone'] is not none %}

                <tr>
                    <td>{{ record['name'] }}</td>
                    <td>{{ record['jobtitle'] }}</td>
                    <td><a href="tel:+373{{ '{:.0f}'.format(record['phone'] | float) }}"><img class="phonenum"
                                src="https://www.svgrepo.com/show/499799/telephone-number.svg" alt="phone"></a> {{
                        '{:.0f}'.format(record['phone'] | float) }}</td>
                </tr>

                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>