<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://www.svgrepo.com/show/499763/group.svg">
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/script.js"></script>
  <title>Пользователи</title>
</head>

<body>
  <header>
    <div class="titletop">
      <h1>Портал</h1>
      <h3>МОУ "ДСШ" № 1</h3>
    </div>
    <div class="menu">
      <div class="mainpagebtn btn">
        <a class="but" href="{{ url_for('index') }}"></a>
      </div>
      <div class="sprav btn">
        <a class="but" href="{{ url_for('spravka') }}"></a>
      </div>
      <div class="logs btn">
        <a class="but" href="{{ url_for('logs') }}"></a>
      </div>
      <div class="users btn">
        <a class="but" href="{{ url_for('users') }}"></a>
      </div>
      <div class="reg btn">
        <a class="but" href="{{ url_for('register') }}"></a>
      </div>
    </div>
  </header>
  <div>
    <form "margin: 0 1rem 0 0; float: right;" method="post" action="/logout">
      <button type="submit" class="logout-button"> Выход </button>
    </form>
    <form method="POST" action="/register">
      <button style="margin: 0 1rem 0 0; float: right;" href="{{ url_for('register') }}">Добавить пользователя</button>
    </form>
    <button style="margin: 0 1rem 0 0; float: right;" id="theme-toggle">Переключить тему</button>
    <form "margin: 0 1rem 0 0; float: right;" method="GET" action="/">
      <button type="submit" class="button" href="{{ url_for('index') }}"> Главная </button>
    </form>
  </div>
  <div class="tabl">
    <table>
      <thead>
        <tr>
          <th>Пользователь</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user }}</td>
          <td>
            <form action="{{ url_for('delete_user', username=user) }}" method="post" style="display:inline;">
              <button>Удалить</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</body>

</html>